<div *ngIf="movie">
  <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" alt="{{ movie.movieName }} Poster">
  <div>
    <h1>{{ movie.movieName }}</h1>
    <p *ngIf="movie.category"><strong>Category:</strong> {{ movie.category }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p *ngIf="movie.cast"><strong>Cast:</strong> {{ movie.cast }}</p>
    <p *ngIf="movie.director"><strong>Director:</strong> {{ movie.director }}</p>
    <p *ngIf="movie.rating"><strong>Rating:</strong> {{ movie.rating }}</p>
    <p *ngIf="movie.description"><strong>Description:</strong> {{ movie.description }}</p>
  </div>

  <div *ngIf="movie.trailerUrl">
    <iframe
      width="560"
      height="315"
      [src]="movie.trailerUrl | safeUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
