<app-search></app-search>

<!-- Now Playing Movies Section -->
<div class="now-playing-section">
  <h2>Now Playing</h2>
  <ul class="movie-list">
    <ng-container *ngFor="let movie of nowPlayingMovies">
      <li class="movie-card">
        <img [src]="movie.imageUrl" alt="{{ movie.movieName }} Poster" class="movie-image">
        <h3>{{ movie.movieName }}</h3>
        <p><strong>Genres:</strong> {{ movie.genre }}</p>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
        <p><strong>Cast:</strong> {{ movie.cast }}</p>
        <div class="movie-buttons">
          <button (click)="goToDetails(movie)">Details</button>
          <button (click)="bookNow(movie)">Book Now</button>
        </div>
      </li>
    </ng-container>
  </ul>
</div>

<!-- Coming Soon Movies Section -->
<div class="coming-soon-section">
  <h2>Coming Soon</h2>
  <ul class="movie-list">
    <ng-container *ngFor="let movie of comingSoonMovies">
      <li class="movie-card">
        <img [src]="movie.imageUrl" alt="{{ movie.movieName }} Poster" class="movie-image">
        <h3>{{ movie.movieName }}</h3>
        <p><strong>Genres:</strong> {{ movie.genre }}</p>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
        <p><strong>Cast:</strong> {{ movie.cast }}</p>
        <div class="movie-buttons">
          <button (click)="goToDetails(movie)">Details</button>
          <button (click)="bookNow(movie)">Book Now</button>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
